

<div class="sr-form-page" id="sr-accreditation-form-page-view">
    <h1 class="sr-form-page-title">Accreditations</h1>
    <div class="row">
        <div class="col-lg-12" id="sr-accreditation-list-container">
            
        </div>
    </div>
</div>