

<div class="sr-accreditation-view">
    @Html.Partial("~/Views/Shared/_DetailedCheckboxView.cshtml")
    <br />
    <a class="sr-accreditation-link" target="_blank" data-bind="attr: {href: url}, text: url"></a>
    <br />
</div>
