

<div class="sr-multi-select-options-container">
    @Html.Partial("~/Views/Search/_DetailedCheckboxView.cshtml")
    <br />
    <a class="sr-multi-select-options-link" target="_blank" data-bind="attr: {href: url}, text: url"></a>
    <br />
</div>