

<div class="sr-accreditation-container">
    <input type="checkbox" data-bind="checked: checked" />
    <span class="sr-checkbox-text" data-bind="text: name"></span>
    <br />
    <div class="sr-accreditation-description-container">
        <p class="sr-accreditation-description-text" data-bind="text: description"></p>
        <br />
        <a class="sr-accreditation-link" target="_blank" data-bind="attr: {href: url}, text: url"></a>
    </div>
</div>