
<div class="sr-address-view">
    <div class="row">
        <div class="col-lg-12">
            <input type="text" placeholder="Address" data-bind="value: address" />
            <br />
            <input type="text" placeholder="Address Line 2" data-bind="value: addressLine2" />
            <br />
            <input type="text" placeholder="City" data-bind="value: city" />
            <br />
            <select data-bind="value: state" disabled>
                <option>OH</option>
            </select>
            <br />
            <input type="text" placeholder="Zip" data-bind="value: zipCode" />
            <div class="alert alert-danger sr-alert-error"></div>
        </div>
    </div>
</div>