

<div class="sr-child-info-view">
    @* The actual form. *@
    <div class="row sr-child-info">
        <div class="col-lg-5 col-lg-offset-1">
            <input type="text" class="form-control sr-editbox" placeholder="Name" />
            <div class="input-group">
                <input class="form-control sr-number-edit" type="number" min="1" max="17" placeholder="Age">
                <span class="input-group-addon">Years</span>
            </div>
            <select class="form-control sr-combobox">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
    </div>

    <div class="row">
        @* The separator and expansion button. *@
        <div class="col-lg-7 sr-child-info-section-separator">
            <hr class="sr-child-info-separator" />
            <button class="btn btn-default sr-expansion-button">+</button>
        </div>
    </div>
</div>
