


<div class="sr-form-page" id="sr-child-information-form-page-view">
    @Html.Partial("~/Views/Shared/_SectionTitle.cshtml", "Child Information")
    <div class="row">
        <div class="col-lg-12">
            @{
                // 3 is an arbitrary limit, but should be sufficient for a demo.
                int maxChildren = 3;
                for (int childIndex = 0; childIndex < maxChildren; ++childIndex)
                {
                    Html.RenderPartial("~/Views/Search/_ChildInformationView.cshtml");
                }
            }
        </div>
    </div>

    <div class="alert alert-info"><strong>Privacy Note:</strong> Child information is not persisted.</div>
</div>