
<div class="sr-detailed-checkbox-view">
    <input type="checkbox" data-bind="checked: checked" />
    <span class="sr-checkbox-text" data-bind="text: name"></span>
    <br />
    <div class="sr-detailed-checkbox-description-container">
        <p class="sr-detailed-checkbox-description-text" data-bind="text: description"></p>
    </div>
</div>