
<div class="sr-geocode-failure-error-view">
    <div class="alert alert-danger sr-alert-error sr-geocode-fail-error">
        <p>
            <strong>Error: </strong> Unable to locate the entered address
        </p>
    </div>
</div>