
@using SmartRoutes.Models

<div class="sr-page-view" id="sr-guided-search-page-view">
    <div id="sr-guided-search-container">
        <div class="row">
            <div class="col-lg-2">
                @Html.Partial("~/Views/Search/_GuidedSearchBreadcrumbView.cshtml")
            </div>

            <div class="col-lg-5">
                @* Search form. *@
                @Html.Partial("~/Views/Search/_GuidedSearchFormView.cshtml")
            </div>
        </div>
    </div>
    <div id="sr-guided-search-searching-animation-container">
        @Html.Partial("~/Views/Shared/_LoadingView.cshtml", new LoadingViewModel("sr-guided-search-results-loading-view"))
    </div>
</div>
