
<div id="sr-guided-search-breadcrumb-view">
    <div id="sr-breadcrumb-content">
        <!--Probably a better way to do this, but this div is used
            to add empty space before the list that is styled like the list. -->
        <div class="sr-list-spacer"></div>

        <ol id="sr-breadcrumb-list">
            <li class="sr-breadcrumb-list-element">
                <a href="" class="sr-breadcrumb-link" id="sr-breadcrumb-child-info">Child Information</a>
            </li>
            <li class="sr-breadcrumb-list-element">
                <a href="" class="sr-breadcrumb-link" id="sr-breadcrumb-schedule-type">Schedule Type</a>
            </li>
            <li class="sr-breadcrumb-list-element">
                <a href="" class="sr-breadcrumb-link" id="sr-breadcrumb-locations">Locations and Times</a>
            </li>
            <li class="sr-breadcrumb-list-element">
                <a href="" class="sr-breadcrumb-link" id="sr-breadcrumb-accreditation">Accreditation</a>
            </li>
            <li class="sr-breadcrumb-list-element">
                <a href="" class="sr-breadcrumb-link" id="sr-breadcrumb-service-type">Service Type</a>
            </li>
        </ol>

        <!--Probably a better way to do this, but this div is used
            to add empty space after the list that is styled like the list.-->
        <div class="sr-list-spacer"></div>
    </div>
</div>