

<div class="sr-page-view" id="sr-guided-search-page-view">
    <div class="row">
        <div class="col-lg-2">
            @Html.Partial("~/Views/Search/_GuidedSearchBreadcrumbView.cshtml")
        </div>

        <div class="col-lg-10">
            @* Search form. *@
            @Html.Partial("~/Views/Search/_GuidedSearchFormView.cshtml")
        </div>


    </div>
</div>
