
<div class="sr-form-page" id="sr-location-time-form-page-view">
    <h1 class="sr-form-page-title">Locations and Times</h1>

    <section class="sr-location-time-section" id="sr-section-drop-off-departure">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="sr-form-page-section-heading">Depart with kids</h2>
                <br />
                <div id="sr-drop-off-departure-address-container">
                    @Html.Partial("~/Views/Search/_AddressView.cshtml")
                </div>
            </div>
        </div>
    </section>

    <hr class="sr-location-separator" />

    <section class="sr-location-time-section" id="sr-section-drop-off-final-destination">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="sr-form-page-section-heading">Destination after drop off</h2>
                <br />
                <div id="sr-drop-off-destination-address-container">
                    @Html.Partial("~/Views/Search/_AddressView.cshtml")
                </div>
                <div id="sr-drop-off-final-destination-supplemental-input">
                    <input type="time" placeholder="Latest Arrival Time" data-bind="value: dropOffDestinationLatestTime" />
                </div>
            </div>
        </div>
    </section>

    <hr class="sr-location-separator" />

    <section class="sr-location-time-section" id="sr-section-pick-up-departure">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="sr-form-page-section-heading">Depart to pick up kids</h2>
                <div id="sr-pick-up-departure-supplemental-input">
                    <input type="time" placeholder="Departure Time" data-bind="value: pickUpDepartureTime" />
                    <br />
                    <input type="checkbox" data-bind="checked: pickUpDepartureSameAsDestination" />
                    <br />
                    <span>Same as 'Final drop off destination'</span>
                </div>
                <div id="sr-pick-up-departure-address-container">
                    @Html.Partial("~/Views/Search/_AddressView.cshtml")
                </div>
            </div>
        </div>
    </section>

    <hr class="sr-location-separator" />

    <section class="sr-location-time-section" id="sr-section-pick-up-final-destination">
        <div class="row">
            <div class="col-lg-12">
                <div id="sr-pick-up-destination-supplemental-input">
                    <h2 class="sr-form-page-section-heading">Destination after pick up</h2>
                    <br />
                    <input type="checkbox" data-bind="checked: dropOffDestinationSameAsDeparture" />
                    <span class="sr-checkbox-text"></span>
                </div>
                <div id="sr-pick-up-destination-address-container">
                    @Html.Partial("~/Views/Search/_AddressView.cshtml")
                </div>
            </div>
        </div>
    </section>
</div>