

<div class="sr-form-page" id="sr-schedule-type-form-page-view">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="sr-form-page-title">Schedule Type</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <input type="radio" name="scheduleTypeDropOff" class="sr-radio-button" id="sr-schedule-type-drop-off" />
            <span class="sr-radio-button-text">Drop Off</span>
            <br />
            <input type="radio" name="scheduleTypePickUp" class="sr-radio-button" id="sr-schedule-type-pick-up" />
            <span class="sr-radio-button-text">Pick Up</span>
            <br />
            <input type="radio" name="scheduleTypeBoth" class="sr-radio-button" id="sr-schedule-type-both" />
            <span class="sr-radio-button-text">Both</span>
        </div>
    </div>

</div>