

<div class="sr-form-page" id="sr-schedule-type-form-page-view">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="sr-form-page-title">Schedule Type</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <div id="sr-schedule-type-input">
                <input type="checkbox" name="scheduleTypeDropOff" data-bind="checked: dropOffChecked" class="sr-checkbox" id="sr-schedule-type-drop-off" />
                <span class="sr-checkbox-text">Drop Off</span>
                <br />
                <input type="checkbox" name="scheduleTypePickUp" data-bind="checked: pickUpChecked" class="sr-checkbox" id="sr-schedule-type-pick-up" />
                <span class="sr-checkbox-text">Pick Up</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div id="sr-schedule-type-error" data-bind="visible: noScheduleTypeSelected">
                <div class="alert alert-danger"><strong>Error:</strong> You must select at least one schedule type.</div>
            </div>
        </div>
    </div>

</div>
