
<div class="sr-form-page" id="sr-service-type-form-page-view">
    @Html.Partial("~/Views/Shared/_SectionTitle.cshtml", "Service Type")

    <div class="row">
        <div class="col-lg-12" id="sr-service-type-list-container">
            @* This list will be populated by the page view controller
                after retrieving the service type information from the server. *@
        </div>
    </div>
</div>
