
<div class="sr-form-page" id="sr-service-type-form-page-view">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="sr-form-page-title">Service Type</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" id="sr-service-type-list-container">
            @* This list will be populated by the page view controller
                after retrieving the service type information from the server. *@
        </div>
    </div>
</div>
