
@model SmartRoutes.Models.MainPageModel


<div class="sr-page-view" id="sr-main-page-view">
    <div class="row">
        <div class="col-lg-2">
            @{
                Html.RenderAction("PortalView");
            }
        </div>

        <div class="col-lg-5">
            <!--Description-->
            @{
                Html.RenderAction("DescriptionView");
            }
        </div>

        <div class="col-lg-5">
            <!--Map-->
            @{
                Html.RenderAction("SampleMapView");
            }
        </div>
    </div>

</div>
