
@model SmartRoutes.Models.MainPageModel


<div class="sr-page-view" id="sr-main-page-view">
    <div id="sr-portal-view"></div>

    <!--Description-->
    @{
        Html.RenderAction("DescriptionView");
    }

    <!--Map-->
    @{
        Html.RenderAction("SampleMapView");
    }

</div>