@* This view will contain a description for a specific child care service. *@

<div class="sr-child-care-service-description-view">
    <div class="row">
        @* TODO: determine what data needs to go here. 
            Probably name, address, phone, hours, maybe others.*@
    </div>
</div>