@* This view will contain a description for a specific child care service. *@

<div class="sr-child-care-service-description-view">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sr-child-care-service-description-name" data-bind="text: childCareName"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="sr-child-care-service-description-label">Address: </label>
                    <span class="sr-child-care-service-description-text" data-bind="text: address"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="sr-child-care-service-description-label">Phone: </label>
                    <span class="sr-child-care-service-description-text" data-bind="text: phoneNumber"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a data-bind="attr: {href: link}" title="Search for Service">Search for Service</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a data-bind="attr: { href: reviewLink }" title="Reviews">Reviews</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="sr-child-care-service-description-label">Business Hours</label>
                    <ul data-bind="foreach: hours">
                        <li>
                            <label class="sr-child-care-service-description-hours-day-label" data-bind="text: day"></label>
                            <span class="sr-child-care-service-description-hours-text" data-bind="text: timeRange"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>