@* The nomenclature is a little confusing, but this is the complete summary view
    that will contain a description for multiple child care services. *@
<div class="sr-child-care-service-summary">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="sr-section-title">
                <span class="sr-section-title-text">Child Care Summary</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="sr-child-care-service-description-container">
                @* The actual descriptions will be inserted here via javascript. *@
            </div> 
        </div>
    </div>
</div>