
@using SmartRoutes.Models
@using SmartRoutes

<div class="sr-page-view" id="sr-itinerary-page-view">
    <div class="row">
        <div class="col-lg-2">
            @{
                // Render the portal view.
                PortalViewModel resultsPortalModel = new PortalViewModel("sr-portal-route-plan-page");
                resultsPortalModel.AddButtonModel(new PortalButtonModel(Resources.portalTextHome, Resources.PageRouteHome));
                resultsPortalModel.AddButtonModel(new PortalButtonModel(Resources.portalTextBackToResults, Resources.PageRouteResults));
                resultsPortalModel.AddButtonModel(new PortalButtonModel(Resources.portalTextFeedback, Resources.PageRouteFeedback));
                Html.RenderPartial("~/Views/Shared/_PortalView.cshtml", resultsPortalModel);
            }
        </div>

        <div class="col-lg-10">
            <div class="row">
                @* Render the route plan. *@
                @Html.Partial("~/Views/Itinerary/_ItineraryView.cshtml")
            </div>
            <div class="row">
                @* Render the child care service summary. *@
                @Html.Partial("~/Views/Itinerary/_ChildCareServiceSummaryView.cshtml")
            </div>
        </div>
    </div>
</div>