
<div class="sr-route-itinerary-view">
    @* This is the title area for the list of steps. *@
    <div class="row">
        <div class="col-lg-12">
            <div class="sr-text-area-title">
                <span class="sr-text-area-title-text">Itinerary</span>
            </div>
        </div>
    </div>

    @* This is the actual list of steps. *@
    <div class="row">
        <div class="col-lg-12">
            <div class="sr-itinerary-steps-container">
                <span class="sr-itinerary-section-heading">Drop Off Plan</span>
                <ol id="sr-itinerary-drop-off-list">
                    @*These are populated via javascript handlebars templates.*@
                </ol>
            </div>
            <div class="sr-itinerary-steps-container">
                <span class="sr-itinerary-section-heading">Pick Up Plan</span>
                <ol id="sr-itinerary-pick-up-list" >
                    @*These are populated via javascript handlebars templates.*@
                </ol>
            </div>
        </div>
    </div>
</div>