
<div class="sr-result-view">
    @* Container for the title area. *@
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    @* Container for the list of results. *@
    <div class="row">
        <div class="col-lg-12">
            <div id="sr-results-list-container">
                @* This list is populated by the server. *@
            </div>
        </div>
    </div>
</div>