
<div id="sr-results-list-view">
    <ol data-bind="foreach: results">
        <li class="sr-results-list-element">
            <ul data-bind="foreach: childCareServices">
                <li>
                    <div class="sr-child-care-results-info-container">
                        <span class="sr-results-child-care-service-name" data-bind="text: serviceName"></span>
                        <a class="sr-results-child-care-service-link" data-bind="attr: {href: serviceLink}" target="_blank">Service Link</a>
                    </div>
                </li>
            </ul>

            <div class="sr-route-results-info-container">
                <div data-bind="visible: isDropOffPlan">
                    <div class="sr-drop-off-summary-container">
                        <span class="sr-results-route-type-heading">Drop Off Plan</span>
                        <span class="sr-results-route-summary-routes-label">Routes: </span>
                        <div id="sr-results-drop-off-route-summary-container" class="sr-results-route-summary-routes-container"></div>
                    </div>
                </div>
                <div data-bind="visible: isPickUpPlan">
                    <div class="sr-pick-up-summary-container">
                        <span class="sr-results-route-type-heading">Pick Up Plan</span>
                        <span class="sr-results-route-summary-routes-label">Routes: </span>
                        <div id="sr-results-pick-up-route-summary-container" class="sr-results-route-summary-routes-container"></div>
                    </div>
                </div>
            </div>

            <a class="btn btn-default sr-portal-button sr-results-view-itinerary-button" data-bind="attr: {href: navLink}">View Itinerary</a>
       </li>
    </ol>
</div>