
<div id="sr-itinerary-steps-templates">
    <script id="sr-itinerary-step-depart" type="text/x-handlebars-template">
        <span class="sr-itinerary-text">Depart from </span>
        <span class="sr-itinerary-text sr-itinerary-address">{{address}}</span>
    </script>

    <script id="sr-itinerary-step-arrive" type="text/x-handlebars-template">
        <span class="sr-itinerary-text">Proceed to </span>
        <span class="sr-itinerary-text sr-itinerary-address">{{address}}</span>
    </script>

    <script id="sr-itinerary-step-drop-off" type="text/x-handlebars-template">
        <span class="sr-itinerary-text">Drop </span>
        {{#each children}}
        {{#if @@index}}
        @*Don't insert an 'and' for the first item.*@
        <span class="sr-itinerary-text">and </span>
        {{/if}}
        <span class="sr-itinerary-text sr-itinerary-child-name">{{this}}</span>
        {{/each}}
        <span class="sr-itinerary-text"> off at </span>
        <span class="sr-itinerary-text sr-itinerary-service-name">{{serviceName}}</span>
    </script>

    <script id="sr-itinerary-step-pick-up" type="text/x-handlebars-template">
        <span class="sr-itinerary-text">Pick </span>
        {{#each children}}
        {{#if @@index}}
        <span class="sr-itinerary-text">and </span>
        {{/if}}
        <span class="sr-itinerary-text sr-itinerary-child-name">{{this}}</span>
        {{/each}}
        <span class="sr-itinerary-text">up from </span>
        <span class="sr-itinerary-text sr-itinerary-service-name">{{serviceName}}</span>
    </script>

    <script id="sr-itinerary-step-board" type="text/x-handlebars-template">
        <span class="sr-itinerary-text">Board bus route </span>
        <span class="sr-itinerary-text sr-itinerary-route-number">{{routeNumber}}</span>
        <span class="sr-itinerary-text"> at approximately </span>
        <span class="sr-itinerary-text sr-itinerary-time">{{time}}</span>
        <span class="sr-itinerary-text"> near </span>
        <span class="sr-itinerary-text sr-itinerary-stop-name">{{stopName}}</span> 
    </script>

    <script id="sr-itinerary-step-exit" type="text/x-handlebars-template">
        <span class="sr-itinerary-text">Exit bus at approximately </span>
        <span class="sr-itinerary-text sr-itinerary-time">{{time}}</span>
        <span class="sr-itinerary-text"> near </span>
        <span class="sr-itinerary-text sr-itinerary-stop-name">{{stopName}}</span>
    </script>

</div>