
<div id="sr-route-summary-templates">

    <div id="sr-results-routes-summary-template">
        {{#each routes}}
        <span class="sr-results-route-summary-route-number">{{this}}</span>
        <span class="glyphicon glyphicon-arrow-right sr-results-route-summary-route-arrow"></span>
    </div>

</div>