
<div>
    @*Add templates here to be included on the page.*@
    @Html.Partial("~/Views/Templates/_RouteSummaryTemplate.cshtml")

    @Html.Partial("~/Views/Templates/_ItineraryStepsTemplates.cshtml")
</div>