
#sr-itinerary-page-view {
    display: none;
}

.sr-itinerary-steps-container {
    background-color: white;
}

.sr-child-care-service-description-view {
    background-color: white;
}

.sr-itinerary-section-heading {
    font: 24px arial bold;
}

/************************************************************
    These styles are for the child care service description view.
*/

.sr-child-care-service-description-name {
    font: 24px arial bold;
}

/************************************************************
    These styles are for the itinerary steps.
*/

/*This is common to all child names, service names, addresses
  times, and stop names.*/
.sr-itinerary-interest-text {
    color: #1049a9;
}

.sr-itinerary-child-name {

}

.sr-itinerary-service-name {

}

.sr-itinerary-address {

}

.sr-itinerary-time {

}

.sr-itinerary-stop-name {

}