
#sr-results-page-view {
    display: none;
}

#sr-results-list-view {
    background-color: white;
}

.sr-results-route-summary-route-arrow:last-of-type {
    display: none;
}

.sr-results-view-itinerary-button {
    height: 35px;
    color: white;
    /*TODO: find a better font?*/
}

.sr-results-child-care-service-name {
    font: 16px bold;
}