
<div class="sr-detailed-checkbox-view">
    <input type="checkbox" data-bind="checked: checked" />
    <a class="sr-checkbox-text sr-detailed-checkbox-text sr-detailed-checkbox-expander" data-bind="text: name"></a>
    <div class="sr-detailed-checkbox-description-container">
        <p class="sr-detailed-checkbox-description-text" data-bind="text: description"></p>
        <div class="sr-detailed-checkbox-extra-content-container"></div>
    </div>
</div>