
@using SmartRoutes.Models

<div class="sr-google-maps-view">
    @* TODO: figure out how to render this. For now, just display an image. *@
    @{
        Html.RenderPartial("~/Views/Shared/_ImageView.cshtml", new ImageViewModel("Content/Images/Sample_Map.png", "Placeholder", "Placeholder", string.Empty));
    }
</div>