

<div class="sr-portal-view-container">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-default sr-portal-button" id="sr-plan-button">Plan</button>
        <button type="button" class="btn btn-default sr-portal-button" id="sr-back-to-search-button">Back to Search</button>
        <button type="button" class="btn btn-default sr-portal-button" id="sr-feedback-button">Feedback</button>
    </div>
</div>