
@model SmartRoutes.Models.SummaryViewModel

<div class="sr-text-area-view" id="@Model.ID">
    <div class="sr-section-title">
        <h3 class="sr-section-title-text">
            @Model.Title
        </h3>
    </div>
    <p class="sr-text-area-text">
        @Model.Text
    </p>
</div>