
@model SmartRoutes.Models.SummaryViewModel

<div class="sr-text-area-view" id="@Model.ID">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="sr-section-title">
                <span class="sr-section-title-text">
                    @Model.Title
                </span>
            </div>
        </div>
    </div>
    <p class="sr-text-area-text">
        @Model.Text
    </p>
</div>