
@model SmartRoutes.Models.SummaryViewModel

<div class="sr-text-area-view" id="@Model.ID">
    @Html.Partial("~/Views/Shared/_SectionTitle.cshtml", @Model.Title)
    <p class="sr-text-area-text">
        @Model.Text
    </p>
</div>