

<div class="span12 sr-banner-view navbar navbar-fixed-top" id="sr-top-banner-view">
    <!--TODO: Link this back to the main page after routing is figured out.
        also, move this image to the common images directory-->
    <img src="~/Content/Banners/Images/title_banner_black_bg.png" alt="SmartRoutes" id="sr-top-banner-logo" />
</div>
