

<div class="sr-content-view">
    <!--Load pages as partial views here, the page controller will manage them.-->
    @Html.Partial("~/Views/Main/_MainPageView.cshtml")

    @Html.Partial("~/Views/Search/_GuidedSearchPageView.cshtml")

    @Html.Partial("~/Views/Results/_ResultsPageView.cshtml")

    @Html.Partial("~/Views/Itinerary/_ItineraryPageView.cshtml")
</div>